html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

html{
    font-size: 62.5%;
}
/*-------------------------------------------*/
body{
    background-color: #fff9ef;
}

.topContainer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #757c57;
}
.topContainer .title p{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1.5rem;
    line-height: 1.5rem;
    font-size: 2rem;
    color: #fff9ef;
}
.topContainer .title h1{
    font-family: 'Playfair Display', serif;
    color: #fff9ef;
    letter-spacing: .75rem;
    font-size: 3.5rem;
}
.topContainer nav{
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
}
.topContainer nav a{
    color:#fff9ef;
    padding: 1% .8% 1% 2.5%;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: .5rem; 
}
.topContainer nav a:hover{
    background-color: #fff9ef;
    color: #757c57;
    padding: 1% .8% 1% 2.5%;
    border-radius: 5%;
}

input[type=text], select, textarea {
    width: 100%; 
    color:black;
    padding: 12px; 
    background-color: #fff9ef;
    border: 1px solid black; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #fff9ef;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: black;
    color:#fff9ef;
  }

  .container {
    font-size: 1.5rem;
    color:#fff9ef;
    margin:10% 5% 5%;
    border-radius: 5px;
    background-color: #757c57;
    padding: 20px;
  }

  img{
      height:50vh;
      width:100%;
      object-fit: cover;
  }

  footer {
    background-color: #757c57;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
    color: #fff9ef;
  }
  footer .fa {
    padding: 20px;
    font-size: 2rem;
    width: 0.5%;
    text-decoration: none;
  }
  footer .fa-facebook {
    color: #fff9ef;
  }
  footer .fa-twitter {
    color: #fff9ef;
  }
  footer .fa-instagram {
    color: #fff9ef;
  }

  /*--------------MEDIA QUERY--------------*/
  @media (max-width: 500px){
    .topContainer{
        display:flex;
        justify-content: space-around;
        align-items: center;
        height: 7vh;
        width: 100%;
        background-color: #757c57;

    }
    .topContainer .title p{
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 1rem;
        line-height: 1rem;
        font-size: 1.3rem;
        color: #fff9ef;
    }
    .topContainer .title h1{
        font-family: 'Playfair Display', serif;
        color: #fff9ef;
        letter-spacing: .6rem;
        font-size: 2rem;
    }
    .topContainer nav{
        width: 55%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1%;
    }
    .topContainer nav a{
        text-align: center;
        color:#fff9ef;
        text-decoration: none;
        font-size: .8rem;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: .5rem; 
    }
    .topContainer nav a:hover{
        background-color: #fff9ef;
        color: #757c57;
        border-radius: 5%;
    }
    footer {
    background-color: #757c57;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    color: #fff9ef;
    }
    footer .fa {
        padding: 20px;
        font-size: 2rem;
        width: 0.5%;
        text-decoration: none;
    }
    footer .fa-facebook {
        color: #fff9ef;
    }
    footer .fa-twitter {
        color: #fff9ef;
    }
    footer .fa-instagram {
        color: #fff9ef;
    }
}

/* Header: */
.topContainer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: #757c57;
}
.topContainer .title p{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1.33rem;
    line-height: 1.5rem;
    font-size: 2rem;
    color: #fff9ef;
}
.topContainer .title h1{
    font-family: 'Playfair Display', serif;
    color: #fff9ef;
    letter-spacing: .75rem;
    font-size: 3.5rem;
}
.topContainer nav{
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
}
.topContainer nav a{
    color:#fff9ef;
    padding: 1% .8% 1% 2.5%;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: .5rem; 
}
.topContainer nav a:hover{
    background-color: #fff9ef;
    color: #757c57;
    padding: 1% .8% 1% 2.5%;
    border-radius: 5%;
}

.toggle {
    display: none;
    width: 50px;
    height: 50px;
    font-size: 4rem;
}
#toggle {
    display: none;
}

footer {
    background-color: #757c57;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
    color: #fff9ef;
  }
  footer .fa {
    padding: 20px;
    font-size: 2rem;
    width: 0.5%;
    text-decoration: none;
  }
  footer .fa-facebook {
    color: #fff9ef;
  }
  footer .fa-twitter {
    color: #fff9ef;
  }
  footer .fa-instagram {
    color: #fff9ef;
  }

@media(max-width: 788px) {
    .team-member {
        width: 50%;
    }
    footer {
        font-size: 3vw;
        letter-spacing: 1px;
    }
}

@media(max-width: 830px) {
    .title {
        padding-left: 10px;
    }
    .toggle {
        display: block;
        order: 2;
    }
    .topContainer {
        justify-content: space-between;
    }
    .topContainer nav {
        display: none;
    }
    #toggle:checked + nav {
        display: flex;
        flex-direction: column;
        order: 1;
        background-color: #757c57;
        margin-top: 100px;
        line-height: 3rem;
        z-index: 1000;
    }
}

@media(max-width: 500px) {
    /* .team-member {
        width: 48%;
    }
    .step {
        width: 51%;
        padding: 2% 0;
    } */
    footer {
        background-color: #757c57;
        height: 9vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        letter-spacing: 0.5rem;
        color: #fff9ef;
    }
    footer .fa {
        padding: 20px;
        font-size: 2rem;
        width: 0.5%;
        text-decoration: none;
    }
    footer .fa-facebook {
        color: #fff9ef;
    }
    footer .fa-twitter {
        color: #fff9ef;
    }
    footer .fa-instagram {
        color: #fff9ef;
    }
}